#boards {
    background-color: green;
}

.buttonAddBoard {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
  }